In [1]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [2]:
n = 1000
print(n)

n

1000

1000

In [3]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

In [4]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [5]:
del a[3]

In [6]:
print(a)

['foo', 'bar', 10, 'quux', 20]

In [7]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [8]:
print(t[0])

print(t[-1])

foo
corge

In [9]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

In [10]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto']

Twins
Rockies

In [11]:
MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [12]:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

In [13]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [14]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [15]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [16]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    and (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)

someone_is_of_working_age

False